.add-modal {
  position: absolute;
  top: 30rem;
  right: 80rem;
  z-index: 10;
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  padding: 2rem;
  background-color: #1a1b1d;
  height: 30rem;
  width: 40rem;
  border-radius: 2rem;
  top: -0.5rem;
  right: -5rem;
  position: absolute;

  & * {
    z-index: 11;
  }

  & input {
    height: 3rem;
    border-radius: 0.5rem;
    outline: none;
  }

  & label {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

.add-member-button {
  background-color: gray;
  color: white;
  flex-shrink: 0;
  height: 4rem;
  width: 10rem;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  border: none;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: rgb(107, 107, 107);
  }
}

.add-overlay {
  position: absolute;
  top: -35rem;
  left: -116rem;
  height: 99.5vh;
  width: 205.5rem;
  background: rgba(0, 0, 0, 0.6);
  filter: blur(18px);
  -webkit-filter: blur(8px);
}

.add-list {
  background-color: white;
  position: absolute;
  top: 12.5rem;
  right: 2rem;
  max-height: 10rem;
  overflow-y: auto;

  & li {
    width: 20rem;
    font-size: 1.5rem;
  }

  & li:hover {
    background-color: gray;
  }
}

.channel-add {
  background-color: transparent;
  // background-color: red;
  color: #9a999c;
  // text-transform: uppercase;
  font-weight: 600;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border: none;
  width: 11rem;
  cursor: pointer;

  & img {
    height: 2rem;
  }
}
