.add-modal {
  position: absolute;
  top: 30rem;
  right: 80rem;
  z-index: 10;
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;
  background-color: #0e0f10;
  height: 30rem;
  width: 40rem;
  border-radius: 2rem;
  top: 0;
  right: -3rem;
  position: absolute;

  & * {
    z-index: 11;
  }

  & label {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

.add-member-button {
  background-color: gray;
  height: 4rem;
  width: 20rem;
}

.add-overlay {
  position: absolute;
  top: -35rem;
  left: -120rem;
  height: 99.5vh;
  width: 206rem;
  background: rgba(0, 0, 0, 0.6);
  filter: blur(18px);
  -webkit-filter: blur(8px);
}

.add-list {
  background-color: white;
  position: absolute;
  top: 12.5rem;
  right: 2rem;
  max-height: 10rem;
  overflow-y: auto;

  & li {
    width: 20rem;
    font-size: 1.5rem;
  }

  & li:hover {
    background-color: gray;
  }
}
