.header-help-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;

  & .help-logo {
    margin: 0;
    // margin-left: 1rem;
  }
}
.search-list {
  position: absolute;
  top: 2.9rem;
  right: 0;
  width: 73.5rem;
  // height: 10rem;
  background-color: white;
  // color: white;

  & li {
    list-style: none;
    font-size: 1.5rem;
  }
}
