.dashboar-header {
  position: relative;
}

.header-help-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;

  & .help-logo {
    margin: 0;
  }
}
.search-list {
  position: absolute;
  top: 2.9rem;
  right: 0;
  max-height: 10rem;
  width: 73.5rem;
  background-color: white;
  overflow-y: auto;

  & li {
    padding: 0.5rem;
    list-style: none;
    font-size: 1.5rem;
    overflow-y: hidden;
    z-index: 1000;
    cursor: pointer;

    &:hover {
      background-color: #777;
    }
  }
}
